adal==1.2.1
adjustText==0.7.3
antlr4-python3-runtime==4.7.2
appdirs==1.4.3
applicationinsights==0.11.9
appnope==0.1.0
argcomplete==1.10.0
asn1crypto==0.24.0
astroid==2.2.5
attrs==19.3.0
azure-batch==8.0.0
azure-cli==2.0.76
azure-cli-command-modules-nspkg==2.0.3
azure-cli-core==2.0.76
azure-cli-nspkg==3.0.4
azure-cli-telemetry==1.0.4
azure-common==1.1.16
azure-cosmos==3.1.2
azure-datalake-store==0.0.48
azure-functions-devops-build==0.0.22
azure-graphrbac==0.60.0
azure-keyvault==1.1.0
azure-mgmt-advisor==2.0.1
azure-mgmt-apimanagement==0.1.0
azure-mgmt-appconfiguration==0.1.0
azure-mgmt-applicationinsights==0.1.1
azure-mgmt-authorization==0.52.0
azure-mgmt-batch==7.0.0
azure-mgmt-batchai==2.0.0
azure-mgmt-billing==0.2.0
azure-mgmt-botservice==0.2.0
azure-mgmt-cdn==3.1.0
azure-mgmt-cognitiveservices==5.0.0
azure-mgmt-compute==8.0.0
azure-mgmt-consumption==2.0.0
azure-mgmt-containerinstance==1.5.0
azure-mgmt-containerregistry==3.0.0rc7
azure-mgmt-containerservice==7.0.0
azure-mgmt-cosmosdb==0.8.0
azure-mgmt-datalake-analytics==0.2.1
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.5.0
azure-mgmt-datamigration==0.1.0
azure-mgmt-deploymentmanager==0.1.0
azure-mgmt-devtestlabs==2.2.0
azure-mgmt-dns==2.1.0
azure-mgmt-eventgrid==2.2.0
azure-mgmt-eventhub==2.6.0
azure-mgmt-hdinsight==1.1.0
azure-mgmt-imagebuilder==0.2.1
azure-mgmt-iotcentral==1.0.0
azure-mgmt-iothub==0.8.2
azure-mgmt-iothubprovisioningservices==0.2.0
azure-mgmt-keyvault==1.1.0
azure-mgmt-kusto==0.3.0
azure-mgmt-loganalytics==0.2.0
azure-mgmt-managedservices==1.0.0
azure-mgmt-managementgroups==0.2.0
azure-mgmt-maps==0.1.0
azure-mgmt-marketplaceordering==0.2.1
azure-mgmt-media==1.1.1
azure-mgmt-monitor==0.5.2
azure-mgmt-msi==0.2.0
azure-mgmt-netapp==0.6.0
azure-mgmt-network==7.0.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-policyinsights==0.3.1
azure-mgmt-privatedns==0.1.0
azure-mgmt-rdbms==1.9.0
azure-mgmt-recoveryservices==0.4.0
azure-mgmt-recoveryservicesbackup==0.4.0
azure-mgmt-redis==6.0.0
azure-mgmt-relay==0.1.0
azure-mgmt-reservations==0.3.1
azure-mgmt-resource==4.0.0
azure-mgmt-search==2.1.0
azure-mgmt-security==0.1.0
azure-mgmt-servicebus==0.6.0
azure-mgmt-servicefabric==0.2.0
azure-mgmt-signalr==0.3.0
azure-mgmt-sql==0.14.0
azure-mgmt-sqlvirtualmachine==0.4.0
azure-mgmt-storage==5.0.0
azure-mgmt-trafficmanager==0.51.0
azure-mgmt-web==0.42.0
azure-multiapi-storage==0.2.4
azure-nspkg==3.0.2
azure-storage==0.36.0
azure-storage-blob==1.5.0
azure-storage-common==1.4.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.6
bleach==3.0.2
brewer2mpl==1.4.1
certifi==2019.3.9
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.4.1
ConfigArgParse==1.0
configparser==3.5.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.3.1
cycler==0.10.0
Cython==0.29
datrie==0.8
decorator==4.3.0
defusedxml==0.5.0
Django==1.11.16
docker==3.7.2
docker-pycreds==0.4.0
docutils==0.16
entrypoints==0.2.3
fabric==2.5.0
funcsigs==1.0.2
gitdb2==2.0.6
GitPython==3.0.5
hdbscan==0.8.18
hmmlearn==0.2.1
humanfriendly==4.18
idna==2.7
importlib-metadata==1.4.0
invoke==1.3.0
ipaddress==1.0.22
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.6.0
isort==4.3.17
itypes==1.1.0
javaproperties==0.5.1
Jinja2==2.10
jmespath==0.9.4
joblib==0.13.2
jsmin==2.2.2
jsondiff==1.2.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
knack==0.6.3
lazy-object-proxy==1.3.1
lda==1.1.0
llvmlite==0.25.0
MarkupSafe==1.1.0
matplotlib==2.2.3
mccabe==0.6.1
mistune==0.8.4
mock==2.0.0
more-itertools==8.1.0
msrest==0.6.6
msrestazure==0.6.2
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.0
numba==0.40.1
numpy==1.16.2
oauthlib==3.0.1
openapi-codec==1.3.2
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
paramiko==2.4.2
pathlib2==2.3.2
pbr==3.1.1
pexpect==4.6.0
pickleshare==0.7.5
portalocker==1.5.1
prometheus-client==0.4.2
prompt-toolkit==1.0.15
psutil==5.6.4
ptyprocess==0.6.0
pyasn1==0.4.5
pycparser==2.19
pydocumentdb==2.3.5
-e git+https://bitbucket.org/dranew/dollo.git@b169b2a8f6ea00c2522881afe0a7dc58a1755504#egg=PyDollo
Pygments==2.4.2
PyJWT==1.7.1
pylint==2.3.1
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.3.0
pyrsistent==0.15.7
python-dateutil==2.7.5
pytz==2019.1
PyYAML==5.1.2
pyzmq==17.1.2
qtconsole==4.4.2
ratelimiter==1.2.0.post0
requests==2.22.0
requests-oauthlib==1.2.0
rlipython==0.1.2
saltant-py==0.4.0
scandir==1.9.0
-e git+git@github.com:shahcompbio/scgenome.git@70c0691ffa733d14384c29a0c8caeecbb565fd9c#egg=scgenome
scikit-learn==0.20.0
scipy==1.1.0
scp==0.13.2
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
-e git+git@github.com:shahcompbio/sisyphus.git@5f0e29f7a48f6f7b18a5fcf05e58eccef063b754#egg=sisyphus
six==1.12.0
sklearn==0.0
smmap2==2.0.5
snakemake==5.9.1
sshtunnel==0.1.5
subprocess32==3.5.3
tabulate==0.8.5
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
tqdm==4.31.1
traitlets==4.3.2
typed-ast==1.3.4
umap-learn==0.3.6
uritemplate==3.0.0
urllib3==1.24.1
vsts==0.1.25
vsts-cd-manager==1.0.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
-e git+https://github.com/amcpherson/wgs_analysis.git@36d26347f4cc9f734c08231d435693d657b1c1e5#egg=wgs_analysis
widgetsnbextension==3.4.2
wrapt==1.11.1
xmltodict==0.12.0
zipp==0.6.0
